* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

@font-face {
    font-family: "Whitney";
    src: url(../fonts/withneyfonts/whitney-medium.otf);
}
body{
    font-family: "Whitney";
}
.back_ground{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* i container hanno una dimensione fissa,  centrati orizzontalmente */


.container {
    /*border: dashed 2px black;*/
    /* test */

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.container-small {
   /* background-color: #ee82ee;*/
    /* test */

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}


header, section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #d3d3d3;
}




/* sezione navbar */
nav {
    /*background-color: #add8e6;*/
    /* test */
    padding: 10px ;
}

nav .container > * {
    /*border: dashed 2px black;*/
    /* test */

    padding: 10px;
}

nav .container {
    /*background-color: #daa520;*/
    /* test */

    display: flex;
    /*test */
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;


}

nav .logo {
    width: 145px;
}


nav .nav-links {
    flex-grow: 1;
}
nav .nav-links ul {
    display: flex;
    justify-content:center;
    list-style-type: none;
    gap: 12px;
}
nav .nav-links ul li a{
    color: white;
    text-decoration: none;
}


nav .login {
    width: 100px;
    text-align: right;
    
}

nav .login button{
    padding: 10px;
    border-radius: 20px;
    border: #FFFFFF;
}

/* fine sezione navbar */



/* sezione hero */

#hero {
   /* background-color: #00008b;*/
    /* test */
}

#hero .container-small {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 300px;
    /* test */
}
#hero .container-small h1{
font-size: 35px;
color: white;
}
#hero .container-small p{
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
    font-size: 20px;
    
}


#hero .container-small button{
    padding: 5px;
    border-radius: 40px;
    border: white;

}
#hero .container-small .black{
    margin-left: 12px;
    background-color: #23272A;
    color: white;
    padding: 16px;
}


/* fine sezione hero */


/* sezioni grigie */
.row {
    display: flex;
}

.column-big { 
    height: 400px;
    flex-grow: 1;
}
h2{
    padding-top: 40px;
    font-size: 46px;
    margin-bottom: 17px;

}
.column-small p {
    font-size: 16px;
    line-height: 1.625;
} 

.column-small {
    height: 400px;
    width: 400px;
}

.bg-gray .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.bg-gray .container p{line-height: 1.625;

}
.big-content {
    
    height: 600px;
    
}
.fooetr_big-content{
    text-align: center;
}
h3{
    /*padding-left: 18px;*/
    font-size: 30px;
    margin-bottom: 20px;
}
.ready{
    padding: 10px;
    border-radius: 40px;
    border: white;
    color: white;
    background-color: #8EA1E1;
    font-size: 15px;
}
/* fine sezioni grigie */


/* sezione footer */

footer {
    background-color: #23272a;
    /* test */

    padding-top: 8px;
}


footer .container > * {
    
}


footer #footer-top {
    
    margin-bottom: 30px;
}

footer #footer-top .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 500px;
    width: 250px;
    /* test */
}
h4{
    color: #748BDE;
    font-size: 26px;
}
.simboli{
    display: flex;
    justify-content: center;

    color: #FFFFFF;
    
}

footer #footer-top .footer-column {
    
    /* test */
    
    flex-grow: 1;
}
hr{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: #565F78;
}
footer #footer-bottom {
    
    /* test */

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}

footer #footer-bottom > * {
    
    /* test */

    padding: 4px 8px;
}

/* fine sezione footer */
